---
import { Icon } from 'astro-icon';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-6 h-6 inline-block align-text-bottom" /> 
    </span>
    <span style='font-family: "Brush Script MT", cursive; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;'>
      El secreto mejor guardado del estado de Hidalgo
    </span>
  </div>
</section>
