---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Comprar', href: '#', icon: 'tabler:basket' }}
    callToAction2={{ text: 'Lee más', href: 'https://www.gob.mx/agricultura/es/articulos/pulque-bebida-de-dioses' }}
    image={{ src: import('~/assets/images/logos/circulo.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Pulque</span> la bebida de los dioses </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        El <span class="font-semibold">pulque</span> es la bebida mexicana
        por excelencia y tras milenios sigue deleitando paladares, tal como 
        lo hizo entre los dioses en su origen mítico, el cual cuenta que fue 
        un regalo de la diosa náhuatl Mayáhuel para los hombres.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Conócenos"
    title="Todo sobre nuestro destilado"
    subtitle="El pulque es una bebida prehispánica que ha experimentado conforme a los años una evolución para llegar a ser un destilado. El destilado Zempoala es un doble destilación y con una graduación alcohólica de 42º, pensando en que esta bebida se exprese y no se rebaje para no perder sus propiedades, notas y aromas emblemáticos del pulque hidalguense."
    items={[
      [
        {
            title: 'Destilado',
            description: 'Realizamos una exhaustiva selección del pulque para obtener un destilado premium.',
            icon: 'tabler:flask-2',
        },
        {
            title: 'Mariposa monarca',
            description: 'Se refiere a la metamorfosis, la cual, hace referencia al cambio sufrido en nuestra materia prima "el agua miel”.',
            icon: 'tabler:butterfly',
        },
        {
            title: 'Agave salmiana o maguey',
            description: 'El agave salmiana es una planta que puede producir 3 veces más oxigeno que un árbol, esto provoca un gran a porte contra el cambio climático.',
            icon: 'tabler:plant-2',
        },
      ],
      [
        {
            title: 'Zempoala y la mariposa monarca',
            description: 'Cabe mencionar que Zempoala es una de las paradas de la mariposa monarca.',
            icon: 'tabler:butterfly',
        },
        {
            title: 'Azulejo',
            description: 'El azulejo se remonta a cuando fue su mayor auge de el pulque en la CDMX, debido a que empresarios y políticos se reunían en "la casa de los azulejos”.',
            icon: 'tabler:home',
        },
        {
            title: 'Pulque',
            description: 'Este fue llamado “el nectar de los dioses”, debido a que en la época de los aztecas, solamente las clases altas podían consumirlo cuando había una reunión.',
            icon: 'tabler:plant-2',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  
<!--
  <Content
    highlight="Aún más"
    title="¿Qué es nuestro producto?"
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>
-->

  <!-- Content Widget **************** -->

<!--
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />
-->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Línea de tiempo de producción"
    items={[
      {
        title: '1: <span class="font-medium">Materia prima</span>',
        description:
          'Se realiza el raspado del agave salmiana, posteriormente va a dar mucílago mejor conocido como agua miel y se recolecta.',
        icon: 'tabler:plant-2',
      },
      {
        title: '2: <span class="font-medium">Primer destilación</em>',
        description:
          'Se deja fermentar en tinacales para posteriormente pasarlo a un alambique de cobre árabe artesanal, el cual, es calentado con leña de encino. Cuando obtenemos el destilado hacemos una separación de cabeza y cola, obteniendo ahí sólamente el corazón para tener un alcohol más puro.',
        icon: 'tabler:flask-2',
      },
      {
        title: '3: <span class="font-medium">Segunda destilación</span>',
        description:
          'En la segunda destilación de pone únicamente el corazón en el alambique para nuevamente calentarlo. Se vuelve a llevar a cabo el proceso de quitar la cola y cabeza para dejar solo el corazón.',
        icon: 'tabler:flask-2',
      },
      {
        title: 'Embotellado y listo para ti',
        icon: 'tabler:bottle',
      },
    ]}
    image={{
      src: import('~/assets/images/campo.jpeg'),
      alt: 'Steps image',
    }}
  />
  <!--
    building-factory-2
    droplets
    filter
    flask-2
   -->

  <!-- Features2 Widget ************** -->

<!--
  <Features2
    title="¿Dónde se Puede comprar?"
    subtitle="Nuestros productos se pueden encontrar en los siguientes lugares:"
    highlight="Vendedores"
    items={[
      {
        title: 'Tienda 1',
        description: 'Descripción 1',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Tienda 2',
        description: 'Descripción 2',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Tienda 3',
        description: 'Descripción 3',
        icon: 'flat-color-icons:todo-list',
      },
    ]}
  />
-->

  <!-- HighlightedPosts Widget ******* -->

<!--
  <LatestPosts
    title="Mira nuestro Blog"
    information={`Nuestro blog contiene datos útiles para quienes les interese nuestro producto.`}
  />
-->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    subtitle="Datos que te ayudarán a conocer más sobre nuestro producto."
    highlight="FAQs"
    items={[
      [
        {
            question: '¿Dónde proviene el destilado de pulque de Zempoala?',
            answer: 'Nuestro destilado proviene del maguey, plantado en Hidalgo, Zempoala en México.'
        },
        {
            question: '¿Cuál es el tiempo de producción de cada botella?',
            answer: 'Cada botella del destilado de pulque de Zempoala tarda al rededor de 8h.'
        },
        {
            question: '¿Qué cambios notorios hay en el pulque al tener 2 procesos de destilación envés de 1?',
            answer: 'Esto provoca que se vuelva en un destilado más puro y así sucesivamente, mientras mas destilaciones se vuelve de una mayor calidad el destilado.',
        },
      ],
      [
        {
            question: 'Además del sabor, ¿Qué diferencia hay respecto a las demás bebidas alcohólicas?',
            answer: 'El destilado de pulque de Zempoala al provenir del aguamiel y ser un proceso 100% artesanal sin químicos adheridos, no te hace daño como las demás bebidas, siempre y cuando no sea en exceso y, esto aplica en que no tendrás resaca al día siguiente.',
        },
        {
            question: '¿Dónde saldrá este producto a la venta?',
            answer: 'El destilado de pulque de Zempoala se encontrará en Liverpool',
        },
        {
            question: '¿Porqué es tan alta la graduación?',
            answer: 'Es para conservar las propiedades, notas y aromas lo mas posible, al rebajar la graduación estas se pierden, se podría decir que, mientras mas puro, más alta es la graduación y se logra percibir mejor la calidad del destilado.',
        }
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

<!--
  <Stats
    items={[
      { name: 'Ventas', value: '132K' },
      { name: 'Distribuidores', value: '24' },
      { name: 'Trabajadores', value: '100' },
      { name: 'Seguidores', value: '48.4K' },
    ]}
  />
-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Más información',
      href: 'https://www.gob.mx/agricultura/es/articulos/pulque-bebida-de-dioses',
    }}
  >
    <Fragment slot="title">
      ¿Sabías qué?
    </Fragment>

    <Fragment slot="subtitle">
      Los magueyales de los Llanos de Apan y del Valle del Mezquital, en el estado
      de Hidalgo, han producido los mejores pulques desde que se tiene memoria.
    </Fragment>
  </CallToAction>
</Layout>
